/* 
    Document   : style
    Created on : 22-Mar-2013, 12:39:53 PM
    Author     : David
    Description:
        Purpose of the stylesheet follows.
*/

@media screen and (max-width: 767px) {
	.js ul.ui-tabs-nav {
		width: auto;
		display: block;
		position: relative;
		float: none;
		border-right: 1px solid #CCC;
	}
	.js .ui-tabs-panel {
		width: auto;
	}
	.js .ui-tabs-panel img {
		max-width: 100%;
		height: auto;
	}
	#layout-options .option-radio, #clf-theme .layout {
		float: none!important;
		margin-bottom: 15px;
	}
}
#education-unit-colour-box .education-colour-item > span {
	display: inline-block;
	width: 110px;
	height: 20px;
	overflow: visible;
	position: relative;	
}
.wp-picker-container {
	margin-left: 30px;
	position: relative;	
}
#education-unit-colour-box {
	position: relative;	
}
.main-color .wp-picker-holder {
	position: relative;
/*	margin-top: -40px;
	margin-left: -384px;
*/
	z-index: 10;
}
.secondary-color .wp-picker-holder {
	position: relative;
/*	margin-top: -40px;
	margin-left: -384px;
*/
}

#education-unit-colour-box .ubc-collab-textarea, #education-unit-colour-box .ubc-collab-text-input {
	width: 45%;
}
#education-unit-colour-box .wp-picker-container .iris-picker {
	margin-left: 120px;
}
#education-apply-now-box input:text {
 width: 50%;
}
.wp-picker-container {
	z-index: 1;
}
/* Education Brand */
.brand-img-upload {
	margin-bottom: 15px;
}
.brand-img-upload, .brand-img-upload span, .brand-img-upload .button, .brand-img-upload .ubc-collab-text-input {
	display: block;
	clear: both;
}
.brand-img-upload .ubc-collab-text-input {
	width: 55%;
}
.brand-img-upload .button {
	margin: 6px 0;	
}
.education-img-field-preview {
	margin-top: 15px;
}
.brand-img-upload img {
height: auto;
width: 100%;
max-width: 55%;
vertical-align: middle;
border: 0px none;
}
#clf-unit-colour-box {
	display: none;	
}
